@font-face{
    font-family: mavenpro;
    src: url('/public/fonts/mavenpro.ttf');
}

*{
    font-family: mavenpro !important;
}

.image-holder{
    width: 100%;
    height: 400px;
    position: relative;
}

.image{
    display: inline-block;
}

.image-front{
    z-index: 5;
    position: absolute;
    right: 20%;
    top: 10%;
    height: 400px;
}

.image-back{
    position: absolute;
    left: 20%;
    height: 400px;
}

.steps-segment::after{
    background-color: #209cee;
}

.footer{
    padding-bottom: 3rem;
}

@media screen and (min-width: 768px){
    #hero-footer-container{
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 768px){
    #hero-footer-box{
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
    .image-front{
        right: 10%;
    }
    .image-back{
        left: 10%;
    }
}

@media screen and (max-width: 400px){
    .image-front{
        right: 0;
    }
    .image-back{
        left: 0;
    }
}

@media screen and (max-width: 1023px){
    .image-back{
        position: absolute;
    }
}