@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

#notifications{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media only screen and (max-width: $widescreen){
    #notifications{
        bottom: 60px;
        right: 10px;
        max-width: 60%;
    }
}